.goal {
  position: absolute;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.blue {
  background-color: rgba(8, 40, 222);
  top: 100px;
  left: 100px;
}

.red {
  background-color: rgba(222, 8, 8);
  top: 100px;
  left: 250px;
}

.green {
  background-color: rgba(26, 222, 8);
  top: 100px;
  left: 400px;
}
