.goal {
  position: absolute;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}
.blue {
  background-image: url("https://i.ibb.co/vsKbCYY/fanGoal.png");
  background-repeat: no-repeat;
  background-position: center;
}

.red {
  background-image: url("https://i.ibb.co/VxFMGR2/lionGoal.png");
  background-repeat: no-repeat;
  background-position: center;
}

.green {
  background-image: url("https://i.ibb.co/88NcBbt/hamster-Goal.png");
  background-repeat: no-repeat;
  background-position: center;
}
