/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: url(assets/backgroundImage.png);

  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: playfull;
  src: url(assets/PLAYFUL_ALPHABET_demo.otf);
}
